@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --background-b: #f0f0f0;
  --pink: #513bff;
  --indigo: #5cd700;
  --text: #334155;
}

:root.dark {
  --background: #151b28;
  --background-b: #2a3241;
  --pink: #513bff;
  --indigo: #5cd700;
  --text: #fff;
}

@font-face {
  font-family: "TimerBurner";
  src: url(/assets/fonts/TimeBurner.woff);
}

* {
  font-family: "TimerBurner", sans-serif;
}

body {
  transition: 250ms;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-border {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: var(--text);
}

html:not(.dark) .text-border-light {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--background);
}

.text-border-thick,
html.dark .text-border-light {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text);
}

.contain-paint {
  contain: paint;
}

.carousel-root {
  height: 100%;
}

.carousel-slider {
  height: 95%;
}

@media screen and (max-width: 360px) {
  html,
  body {
    font-size: 9px;
  }

  .text-border {
    -webkit-text-stroke-width: 1.25px;
  }

  .vertical-timeline-element-date {
    margin-top: 0.65rem !important;
    font-size: 1.25rem !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 411px) {
  html,
  body {
    font-size: 11px;
  }

  .text-border {
    -webkit-text-stroke-width: 1.5px;
  }

  .vertical-timeline-element-date {
    margin-top: 0.65rem !important;
    font-size: 1.25rem !important;
  }
}

@media screen and (min-width: 411px) and (max-width: 769px) {
  html,
  body {
    font-size: 11px;
  }

  .text-border {
    -webkit-text-stroke-width: 1.5px;
  }

  .vertical-timeline-element-date {
    margin-top: 0.65rem !important;
    font-size: 1.25rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html,
  body {
    font-size: 12px;
  }

  .vertical-timeline-element-date {
    margin-top: 0.65rem !important;
    font-size: 1.25rem !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  html,
  body {
    font-size: 12px;
  }
}

.vertical-timeline-element-content {
  background: var(--background-b) !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  padding: 2rem !important;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid var(--background-b) !important;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  background: -webkit-linear-gradient(
    315deg,
    var(--background-b),
    transparent 100%
  ) !important;
}

.vertical-timeline-element-date {
  color: var(--text) !important;
  opacity: 1 !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
  border: 4px solid var(--background-b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-transition-enter .page-transition {
  /* position: absolute !important; */
  height: 100% !important;
  width: 100% !important;
  /* display: none !important; */
}

li.dot {
  background: var(--text) !important;
}

li.dot.selected {
  transform: scale(1.5) !important;
}

.read-more-button {
  cursor: pointer !important;
  color: var(--pink) !important;
  text-decoration: underline !important;
  text-underline-offset: 0.5rem !important;
  display: inline !important;
  margin: 0 0.25rem;
}

.animated {
  transition: 0.25s ease-in-out;
}
